@import "globals";

#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: black;
  padding: 10px 20px 10px 20px;
  top: 0px;
  border-bottom: #0a95ff 1px solid;
  #clear-storage {
    width: 10%;
    font-size: 1rem;
    text-align: center;
    border: none;
    background-color: black;
    color: white;
  }
  #clear-storage:hover {
    cursor: pointer;
  }
}

#footer {
  width: 100%;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  bottom: 0px;
  background-color: #202020;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  li a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

#heading {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 3rem;
    margin: 10px;
  }
  p {
    font-size: 1rem;
    margin: 0px;
  }
}

.container {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

#pop-up-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #202020;
  color: white;
  border-bottom: 1px white solid;
  width: 1300px;
  height: 70px;
  padding: 10px;
}

#read {
  margin-left: 20px;
  border: none;
  border-radius: 2px;
  height: 25px;
}

#pages {
  width: 60px;
}

// book entries
.book-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  ul {
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    top: 225px;
    margin: 0px;
    padding: 0px;
    width: 60%;
    list-style: none;
  }
  li {
    margin: 1rem;
    flex: 1;
  }
}

.book-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  transition: all 0.5s ease;
  p {
    margin: 0px;
  }
}

#read-button {
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 60px;
  color: white;
}

#delete-button {
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 100px;
  background-color: #b80202;
  color: white;
}

#delete-button:hover {
  border: 1px white solid;
}

#delete-button:active {
  background-color: #202020;
  color: white;
}

// buttons
#add-btn {
  background-color: #0a95ff;
  color: white;
  border: 1px black solid;
  border-radius: 3px;
  margin-left: 20px;
  height: 30px;
  width: 100px;
}

#add-btn:hover {
  border: 1px white solid;
}

#add-btn:active {
  background-color: #202020;
  color: white;
}

#reset {
  background-color: #0a95ff;
  color: white;
  border: 1px black solid;
  border-radius: 3px;
  height: 30px;
  width: 70px;
  margin-left: 40px;
}

#reset:hover {
  border: 1px white solid;
}

#reset:active {
  background-color: #202020;
  color: white;
}

.vanish {
  transform: translateY(8rem) rotateZ(10deg);
  opacity: 0;
}
