@import "globals";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: 1px red solid;
}

#pop-up-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #202020;
  color: white;
  border-bottom: 1px white solid;
  width: 1300px;
  height: 70px;
  padding: 10px;
}

#pages {
  width: 60px;
}

// buttons
#add-btn {
  background-color: #0a95ff;
  color: white;
  border: 1px black solid;
  border-radius: 3px;
  margin-left: 40px;
  height: 30px;
  width: 100px;
}

#add-btn:hover {
  border: 1px white solid;
}

#add-btn:active {
  background-color: #202020;
  color: white;
}

#reset {
  background-color: #0a95ff;
  color: white;
  border: 1px black solid;
  border-radius: 3px;
  height: 30px;
  width: 70px;
}

#reset:hover {
  border: 1px white solid;
}

#reset:active {
  background-color: #202020;
  color: white;
}
